	.nav1 li, .nav2 li{
		display:inline-block;
		padding:10px 45px;
	}
	a {
		text-decoration:none;
	}
	.nav1, .nav2 {
		float:left;
		background-color:black;
	}
	.logo {
		float:left;
		height:70px;
		width: 0 auto;
	}
	.nav1 {
		width:35%;
	}
	.nav2 {
		width:50%;
	}
	p {
		text-align:center;
	}
	#sect1 {
		text-align:center;
		font-family:Verdana;
		height:500px;
		background-color:black;
	}
	#footer {
		height:200px;
		clear:both;
		text-align:center;

	}
