.subbtn {
	width: 100px;
	text-align: center;
	position: fixed;
	font-size: 12px;
}
.subbtn a {
	text-decoration: none;
}
.subbtn a:hover div {
	color: white;
	border: 3px solid #A8A8A8;
	background-color: black;
	height: auto;
}
.sub-btn {
	border: 3px solid lightgreen;
	border-radius: 20px;
	background-color: lightblue;
	color: red;
}
.vandal {
	font-size: 20px;
	text-transform: uppercase;
}
html{
	margin: 0px;
}
body {
	margin: 0px;
}
.clear{
	clear: both;
}
p {
	margin: 0;
	padding: 0;
}
header {
	height: 100px;
	width: 100%;
	background-color: white;
	margin-bottom: 10px;
}
footer {
	text-align: center;
	padding: 5px 0px;
	background-color: #A8A8A8;
	font-size: 12px;
}
.nav_1, .nav_2 {
	width: 42.5%;
	/*background-color: red;*/
	float: left;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;

}
.logodiv {
	width: 15%;
	/*background-color: blue;*/
	float: left;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
}
.logo {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: solid black 3px;
}
.footerlogo {
	width: 30px;
	height: 30px;
	border-radius: 40px;
	border: solid black 3px;
	opacity: .6;
}
.nav_1 ul, .nav_2 ul {
	list-style-type: none;
}
.nav_1 ul li, .nav_2 ul li {
	display: inline-block;
	padding: 0px 40px 0 40px;
	font-style: bold;
}
.nav_1 ul li a, .nav_2 ul li a {
	display: block;
	padding: 20px 40px;
	color: black;
	/*border: solid black 3px;*/
}
.nav_1 ul li a:hover, .nav_2 ul li a:hover {
	display: block;
	padding: 20px 40px;
	border: solid black 3px;
	background-color: black;
	color: white;
}
.clear{
	clear: both;
}
#maincontent {
	border-style: 2px solid black;
	height:500px;
	background-color: #DCDCDC;
	padding-left:15px;
	padding-top:10px;
}
.comment {
	position:absolute;
	padding-top:2px;
	padding-left:15px;
	top:200px;
}
#commentlogo {
	position:absolute;
	right:200px;
	top:150px;
}
.address {
	position:absolute;
	bottom:100px;
	right:170px;
}
.map {
	position:absolute;
	bottom:200px;
	right:200px;
	width:240px;
	height:175px;
}
#button {
	position:absolute;
	right:525px;
	bottom:100px;
}	
#submit {
	position:absolute;
	top:5px;
	left:5px;
	background-color:lightblue;
	border-radius:20px;
	border:3px ridge lightgreen;
	height:50px;
	text-align:center;
}
#submit li a {
	text-decoration:none;
	text-transform:uppercase;
	color:purple;
}
#submit ul {
	text-decoration:none;
	list-style-type:none;
	width:75px;
}
#submit li {
	position:absolute;
	top:3px;
	left:3px;
	font-family: 'Condiment', cursive;
}
#submit li a:hover {
	border-color:grey;
	background-color:black;
	color:#FFF;

}
#submit a:hover {
	background-color:black;
	color:#FFF;

}